<ng-container *ngIf="true">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
               <thead>
                   <tr>
                       <th>Sr.No</th>
                       <th>Product Name</th>
                       <th>Product Image</th>
                       <th>Description</th>
                       <th>Price</th>
                       <th>Quantity</th>
                       <th>Total</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let item of products">
                       <td>{{item+ 1}}</td>
                       <td>{{item.title}}</td>
                       <td><img style="width:250px" src="{{item.image}}" alt=""></td>
                       <td class="item" >{{item.description}}</td>
                       <td>{{item.price}}</td>
                       <td>{{item.quantity}}</td>
                       <td>{{item.total}}</td>
                       <td>
                           <button (click)="removeItem(item)" class="btn btn-danger">Delete</button>
                       </td>
                   </tr>
               </tbody>
            </table>
        </div>
    </div>
  </ng-container>


 
