.card-top{
    position: relative;
    display: flex;
    flex-direction: row;
    background-clip: border-box;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(190, 113, 113, 0.2);
    border-radius: .25rem;
    background: #fff;
}
.card{
  padding: 20px;
  margin: 50px;
  flex-direction: row;
  width: 500px;
  height: 430px;
  background-color:  rgb(176, 208, 206);
  border:none;
}
 .item img{
    width: 65px;
    margin-top: 15px;
    
}
.img{
    mix-blend-mode: multiply;
}

.item a:hover{
    color:blue;
}
.card h5{
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 35ch;
    left: 275px;
    color:white
}
.card p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    margin-top: 50px;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 65px;
    left: 270px;
    color:white;
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.1);
}
.btn-dark{
    margin-top: 220px;
    width: 200px !important ;
    height: 50px;
    border-radius: 50px;
    margin-left: 45px;
}
strong{
   color:blueviolet;
   position:absolute;
   text-overflow: ellipsis; 
}
.dropdown{
    padding: 10px;
    height:60px;
    margin-left:100px;
   
}
.dropdown-toggle{
    border-radius: 15px;
    color:rgb(15, 15, 15)
}
.container{
    background-color: rgb(176, 208, 206);
    max-width: 1900px;
    
}
.row{
    max-width: 1300px;
}


@media screen and (max-width: 650px) {
    .card{
        padding: 20px;
        margin: 50px;
        flex-direction: column;
        width: 300px;
        height: 330px;
        background-color: rgb(225, 184, 184);
        border:none;
     
        
      }

      .card h5{
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 35ch;
        left: 275px;
        color:white
    }
    .btn-primary{
        margin-top: 20px;
        width: 160px;
        height: 70px;
    }
    strong{
        color:blueviolet;
        position:absolute;
        top: 40px;
        text-overflow: ellipsis; 
     }
}

@media screen and (min-width: 320px){
    .strong{
       
        color:blueviolet;
        position:absolute;
        top: 40px;
        
      }
      .container{
        color:green;
      }
      .row{
        width: fit-content;
        color: green;
      }
}
