.navbar-collapse{
    position: absolute;
    right: 80px;
    
}
nav{
    background-color: rgb(39, 37, 37)
}
.navbar-nav{
    background-color: white;
   
}
.fa-shipping-fast{
    position: absolute;
    left:270px;
    color:white
}
.navbar-brand{
    color:white;
}
