.navbar-collapse{
    position: absolute;
    right: 130px;
    
}
nav{
    background-color: rgb(39, 37, 37)
}
.navbar-nav{
    background-color: white;
   
}
.fa-shipping-fast{
    position: absolute;
    left:270px;
    color:white
}
.navbar-brand{
    color:white;
}
img{
    height: 40px;
    color: white;
}
.btn{
    color:white;
   position: absolute;
    left:260px
}
.bg-danger{
    position: absolute;
    top:5px;
}

a:hover{
    color: green;
}
@media screen and (max-width:650px) {
   
    

  
}
    
