.carousel-item{
    max-width: 1950px;
    max-height: 880px;
    margin-top: 0px;
}
h5{
    font-size: 60px;
}
p{
    font-size: 40px;
}

@media screen and (max-width: 600px)
{
    .h5{
        color: blue
    }
    .carousel-item{
      
        max-height: 1580px;
        margin-top: 0px;
    }
}
    
